
<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

	<div class="jumbotron text-center">
	  <div class="container">

	    <h1>NBA Player lookups</h1>
	    <p>Find cool stuff about your NBA player.</p>
	    	<div class="row">
	     		<form method="post" action="/search">
	              <input type="text"
	              		 class="text-danger"
	                     name="player"
	                     placeholder="Enter a player" />
	                     <br/>
	              <input type="submit"
						class="btn btn-lg btn-default"
						name="clicker"
	                     placeholder="Search" />                     

	      	  </form>
	        </div>

	  </div>
	</div>

</body>
</html>
