<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Search Info</h1>
    <p>Here is cool info on the player you requested.</p>
    <p><%= player %> is referenced in: <%= songs %> songs</p>
  </div>
</div>
</body>
</html>
